@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    font-weight: 500;
    font-size: 16px;
    color:#282525;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 48px;

}

.home{
    color: #DC3845;
}

/* section 1 */
.section1{
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.p-section1{
    font-size: 15px;
    font-weight: 400;
    color: #5D5656;
    margin-top: 16px;
    font-family: Poppins;
}

.img-section1{
    width: 500px;
    height: 442px;
}

.title-section1{
    font-size: 40px;
    font-style: normal;
    font-weight: 600; 
    color: #282525; 
}

.button-section1{
    padding: 20px 56px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 64px;
    background: #DC3845;
    margin-top: 48px;
    color: #FFF;
    border: none;

    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

/* section 2 */
.section2{
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-section2{
    color: #282525;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 72px;
    margin-bottom: 56px;
}

.giving-christmas{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.img-section2{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.h3-section2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #282525;
    margin-top: 12px;
}

.p-section2{
    color: #5D5656;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

.card-giving{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section 3 */

.section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 88px;
    height: 554px;
}

.text-section3{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 372px;
    height: 288px;
    margin-top: 113px;
    margin-left: 218px;

}

.img-section3{
    width: 450px;
    height: 450px;
    margin-right: 170px;
}

.title-section3{
    font-weight: 600;
    font-size: 24px;
    width: 235px;
}

.p-section3{
    color: #5D5656;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.button-section3{
    border-radius: 64px;
    background: var(--first-color, #DC3845);
    border: none;
    padding: 16px 32px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    color: #FFF;
    font-size: 16px;
    width: 215px;
    height: 56px;
}

/* section 4 */
.title-section4{
    color: #282525;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 33px;
}

.section4{
    margin-top: 25px;
    margin-bottom: 72px;
}

.products-section4{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 247px);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
}

.card-section4{
    border-radius: 12px;
    margin-top: 33px;
    width: 200px;
    height: 247px;
    background: var(--container-color, #FFF);
    box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.10);
}

.name-section4{
    color: var(--text-color, #5D5656);
    font-size: 14px;
    font-weight: 500;
    margin-left: 24px;
    margin-bottom: 24px;
}

.img-section4{
    width: 120px;
    height: 120px;
    margin-left: 40px;
}

.heart-section4{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 160px;
}

.price-section4{
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
}


/* section 5 */
.section5{
    height: 537px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title.section5{
    color:#282525;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 64px;
}

.card{
    width: 230px;
    height: 278px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 30px;
    padding-bottom: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;

}

.button-section5{
    padding: 8px;
    gap: 10px;
    border-radius: 4px 4px 12px 4px;
    background: #DC3845;
    border: none;
    justify-content: flex-end;
    margin-left: 194px;
    
}

.title.section{
    color: #282525;
    font-size: 20px;
    font-weight: 600;
}

.text-section5{
    color: #5D5656;
    font-size: 15px;
    font-weight: 500;
    margin-top: px;
}

.img-section5{
    width: 150px;
    height: 150px;
}

/* .background{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color:#DC3845;
    border-radius: 50%;
    margin-bottom: 20px;
} */

/* section 6 */

.section6{
    display: flex;
    padding: 96px 156px 72px 156px;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.card-section6{
    width: 968px;
    height: 354px;
    border-radius: 32px;
    background:#DC3845;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-section9{
    width: 320px;
    height: 219.84px;
}

.title-section6{
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
}

.text-section6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 152px; */
}

.input-section6{
    width: 264px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 64px;
    background: #FFF;
    border: none; 
    color: #918889;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    outline: none;
}

/* footer */

footer{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-div{ 
    display: flex;
    justify-content: space-around;
    gap: 147px;
}

.footer-h2{
    color: #282525;
    font-size: 20px;
    font-weight: 600;
}

.footer1{
   display: flex;
   flex-direction: column;
}

.title-footer1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-rights{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 48px;
}